.blogTite {
    font-size: 150%;
    font-family: 'Abel', sans-serif;
    font-weight: bold;
    text-align: center;
}

.blogText {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 28px; 
    margin-bottom: 2rem;
}

.blogAuthor {
    padding: 0px 0px 0px 10px;
    font-family: 'Niconne', cursive;
    font-size: 30px;
}

.blogContent{
    padding: 3rem;
}

/* Set a style for all the remaining elements like Like button, Edit button, Comment button and so on. */

/* edit or save button */
#editBtn {
    float: right;
}

/* for all the pink buttons on the  screen */
.pinkBtn {
    background-color: #EE3D64;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px 15px;
    font-size: small;
    border-radius: 0;
    box-shadow: 0px 10px 10px -5px rgba(238,61,100,0.5);
}

.pinkBtn:focus, .pinkBtn:active, .pinkBtn:hover {
    outline: none;
    box-shadow: 0px 10px 10px -5px rgba(238,61,100,0.5);
    color: white;
}

/* like button */
#likeBtn {
    padding: 8px 35px;
    border-radius: 5px;
    font-family: 'Lora', serif;
    font-size: x-small;
    font-weight: 500;
}

/* place where number of likes are printed */
#no-of-likes {
    font-family: 'Roboto Mono', monospace;
    font-size: small;
    margin-top: 10px;
}

/* comment box */
#comment-textarea {
    font-family: 'Roboto Mono', monospace;
    font-size: x-small;
    width: 60%;
    height: 100px;
    margin: 5px 0;
}

/* comment section title - "All comments" */
.comments-heading {
    font-family: 'Lora', serif;
    font-weight: bold;
    font-size: x-small;
    margin-top: 30px;
}

/* comments section to display all comments */
#comments-container {
    background-color: #E3E4E6;
    width: 65%;
    padding: 0.5rem;
}

/* each individual post */
.comment {
    background-color: white;
    font-family: 'Lora', serif;
    font-size: x-small;
    font-weight: 500;
    margin: 10px;
    padding: 10px;
}



.contentTextarea {
    width: 100%;
    height: 100%;
}



.editable {
    outline: -webkit-focus-ring-color auto 1px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 1px;
}